.navigointi{
	list-style-type:none;
}
.navigointi li{
	display:inline;
	padding:20px;
}
.leffalinkit{
	margin:15px;
}

.leffalinkit a{
	text-decoration:none;
	color:black;
}

.poistonappi{
	display:inline;
	margin-left:20px;
}
