{% extends "base.html" %}
{% block title %}Lisää{% endblock title%}
{% block content %}
	<fieldset>
	<legend>lisää vuokraus-tapahtuma</legend>
	<form action="lisaa" method="post">
		<p><label>Vuokraus-pvm: <input type="date" name="vuokraus"/></label>
			
				<label>{{vvirhe}}</label>

		</p>
		<p><label>Palautus-pvm: <input type="date" name="palautus"/></label> 

				<label>{{pvirhe}}</label>

		</p>
		<p>
			<label> Elokuva: 
				<select name="leffa">
				{%for leffa, id in listaE%}
					<option value={{id}}>{{leffa}}</option>
				{%endfor%}
				</select>
			</label>
		</p>
		<p>
			<label> Jäsen: 
				<select name="jasen">
				{%for jasen, id in listaJ%}
					<option value= {{id}}>{{jasen}}</option>
				{%endfor%}
				</select>
			</label>
		</p>
		<p>{{ lvirhe }}</p>
		<input type="submit" value="Lisää" />
	</form>
	</fieldset>
	
{% endblock content %}    